<div class="flex flex-col w-full p-8">
  <!-- <%= render partial: "/components/table" %> -->
  <label for ="branch-selection">Choose a branch:</label>
  <%= form_with url: branch_select_path do |f| %>
    <%= f.select(:branch_id, options_for_select(@branches, @branch_name || 'main'), onchange: 'selectionChange(this)') %>
    <%= f.submit %>
  <% end %>
</div>
