<section class="bg-white min-h-screen flex items-center">
    <div class="container px-6 py-10 mx-auto">
        <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl">Helpful <span class="underline decoration-amber-500">Features</span></h1>

        <p class="mt-4 text-gray-500 xl:mt-6">
            Locale Ninja is a git based gem, a rail engine that commits your locale changes to git repository. It also provides a web interface to manage your locale files.
        </p>

        <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">
            <% features = [
                { icon: 'dark-mode', title: 'Engine mounted in your app', description: 'A simple Rails to mount in your app' },
                { icon: 'customize', title: 'Simple interface', description: 'A simple interface to manage your locale files' },
                { icon: 'designs', title: 'Synced with Github', description: 'All the changes are synced with you Github' }
              ]
            %>

            <% features.each do |feature| %>
                <div class="p-8 space-y-3 border-2 border-amber-400 rounded-xl">
                    <span class="inline-block text-amber-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                        </svg>
                    </span>

                    <h1 class="text-xl font-semibold text-gray-700 capitalize"><%= feature[:title] %></h1>

                    <p class="text-gray-500">
                        <%= feature[:description] %>
                    </p>
                </div>
            <% end %>
        </div>
    </div>
</section>