<section class="text-white body-font bg-gray-800">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4 text-center">
      <div class="p-4 w-1/3">
        <h2 class="title-font font-medium sm:text-4xl text-3xl">329</h2>
        <p class="leading-relaxed">Downloads</p>
      </div>
      <div class="p-4 w-1/3">
        <h2 class="title-font font-medium sm:text-4xl text-3xl">23</h2>
        <p class="leading-relaxed">Users</p>
      </div>
      <div class="p-4 w-1/3">
        <h2 class="title-font font-medium sm:text-4xl text-3xl">27</h2>
        <p class="leading-relaxed">Stars</p>
      </div>
    </div>
  </div>
</section>